<div class="audio{{#if queued}} queued {{/if}}"
	data-audio-id="{{ aid }}"
	data-owner-id="{{ owner_id }}">

	<div><span class="title">{{{ title }}}</span></div>
	<div><span class="artist">{{{ performer }}}</span></div>
	<div class="qorder">{{#if queued}} {{ qorder }} {{/if}}</div>
	<div class="actions">
		<div class="add-to-queue" data-icon="&#xe008"></div>
	</div>
</div>